body{
    background-color: #A2AEBB;
}

#outerSection{
    width: 50vw;
    height: auto ;
    margin-left : 25vw ; 
    border: 10px solid white;
    background: #FED99B;
    border-radius: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.text-center{
    text-align: center;
}

#heading{
    font-size: 2rem;
    color: white;
    font-weight: 900;
    font-family: monospace;
    padding : 30px 0px 30px 0px ; 
    border-bottom: 9px solid white;
    background-color: #1AC8ED;
    margin-top: 0px;
}

#Field1 , #Field2 , #Field3{
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: monospace;
    
    width: 100%;
}
#Field2 , #Field3{
    padding-top: 20px;
}
#part1 , #part2{
    width: 50%;
    height: 100% ; 
}
#Field3{
    display: flex;
    flex-wrap: no wrap;
    justify-content: space-between
}
#Field1 label , #Field2 label , #part1 label , #part2 label{
    font-weight: 900;
    color: #495057;
    font-size: 1.09rem;
}
#Field1 input , #Field2 input , #part1 input , #part2 select{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #1AC8ED;
    outline: none;
    margin-top: 10px;
    height: 30px ; 
    width: 90%;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 4px;
}
#part2 select{
    height: 40px
}
#Field1 input::placeholder , #Field2 input::placeholder , #part1 input::placeholder , #part2 select::placeholder{
    color: white;
}
#Field1 input:focus , #Field2 input:focus , #part1 input:focus , #part2 select:focus{
    border: 3px solid #ffbe0b;
    background-color: #ffbe0b ; 
    border-radius: 4px;
}
#btn1{
    font-size: 1.21rem;
    height: 60px;
    width: 180px;
    background-color: #fef9ef;
    color: #0a9396;
    font-family: monospace;
    font-weight: 900 ;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
}
#btn1:hover{
    background-color: #f0ead2;
}

#socialMedia{
    margin-right: 60px;
    display: flex;
    flex-wrap: no wrap ;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
#socialMedia a{
    color : #f1faee;
}
#socialMedia a i {
    font-size: 2rem;
}
#GFGlogo{  
    overflow: hidden;  
    margin-top: 3px;
    height: 25px;
    width: 30px;
}
.toDoTaskHeading{
    margin-left: 20px;
    font-family: monospace;
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    position: relative;
    top: -30px;
}
.taskCard{
    background-color: #3bceac;
    position: relative;
    top: -50px ;
    margin-left: 20px;
    height: 100px;
    width: 93%;
    border-radius: 30px;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}
.innerCard1{
    height: 80% ; 
    margin-top: 10px ; 
    margin-left: 10px;
    padding-left: 10px;
    width: 60%;
    box-sizing: border-box;
    /* border: 2px solid black;     */
}
.taskName{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    position: relative;
    top: -15px;
}
.date{
    color: #da1e37;
    font-weight: 900;
    font-size: 1.02rem;
    position: relative;
    top: -30px;
}
.catMentioner{
    margin-top: 20px;
    margin-right: 20px;
    height: 50px ; 
    width: auto;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 20px;
    color: white;
}
.displayInfo{
    margin-top: 30px;
    color: white;
    margin-right: 10px ;
    cursor: pointer;
}
.infoDiv{
    height: auto ; 
    width: 250px ;
    background-color: #36393b;
    position: absolute;
    right: 10px;
    top: 30px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
    display: none;
}
.displayInfo:hover >.infoDiv{
    display: block;
}

